body
{
    background-color: gainsboro ;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    margin: auto; 
    color: black;
    min-width: 600px;
}

footer
{
    text-align: center;
    padding: 10px;
}

div.content
{
    margin: auto;
    width: 75%;
    padding: 0%;
    
    display: flex;
    flex-direction: column;
}


div.post h3
{
    color: cornflowerblue;
    cursor: alias;
}
div.options span
{
    cursor: alias;
}


/* header */

div.options
{
    background-color: teal;
    padding: 5px 0 5px 0;
    width: 75%;
    position: fixed;
    
    text-align: center;

    left: 50%;
    transform: translateX(-50%);
    color: white;
}


div.title
{
    padding: 5px;
    margin-top: 2%;


    background-color:cadetblue;
    color: white;

    text-align: center;
}

.line
{
    height: 1px;
    width: 95%;
    background-color: black;
    margin: auto;
}

div.main
{
    padding: 2%;

    background-color: white;
    display: flex;
    flex-direction: column;
}


/* posts */

div.post
{
    width: 60%;
    background-color: lightblue;
    margin: auto;
    margin-bottom: 20px;
    padding: 5px;
    word-wrap: break-word;
}

div.singlepost
{
    word-wrap: break-word;
}

div.postheader
{
    background-color: aliceblue;
    padding: 5px;
}

div.comment
{
    padding: 10px;
}


#postcreator .long
{
    min-width: 200px;
    width: 80%;
}