body
{
    background-color: gainsboro ;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    margin: auto; 
    color: black;
}

div.content
{
    margin: auto;
    width: 75%;
    padding: 0%;
    
    display: flex;
    flex-direction: column;
}

div.title
{
    padding: 2px;


    background-color:cadetblue;
    color: white;

    text-align: center;
}

div.main
{
    padding: 2%;

    background-color: white;
}